<header>
<nav class="external-nav">
  <a href="https://webpages.charlotte.edu/mcashio5/" target="_blank">CLT Web</a> |
  <a href="https://github.com/mcashio5" target="_blank">GitHub Profile</a> |
  <a href="https://mcashio5.github.io" target="_blank">GitHub.io</a> |
  <a href="https://mcashio5.github.io/itis3135/" target="_blank"> GitHub.io 3135</a> |
  <a href="https://www.freecodecamp.org/mcashio5" target="_blank">FreeCodeCamp</a> |
  <a href="https://www.codecademy.com/profiles/mcashio5" target="_blank">Codecademy</a> |
  <a href="https://www.linkedin.com/in/michael-cashion-a891082b6/" target="_blank">LinkedIn</a>
</nav>
<p><a href="mightychicken/">Mighty Chicken</a></p>
<p>Designed by <a href="https://mcashio5.github.io/itis3135/cashioninc.com/">Cashion Incorporated</a> @ 2025</p>
</header>
