<footer>
  <nav class="external-nav">
    <a href="https://github.com/mcashio5" target="_blank">GitHub</a> |
    <a href="https://mcashio5.github.io/" target="_blank">GitHub Pages</a> |
    <a href="https://webpages.charlotte.edu/mcashio5/" target="_blank">CLT Web Home</a> |
    <a href="./" target="_blank">Course Page</a> |
    <a href="https://www.freecodecamp.org/mcashio5" target="_blank">freeCodeCamp</a> |
    <a href="https://www.codecademy.com/profiles/mcashio5" target="_blank">Codecademy</a> |
    <a href="https://www.linkedin.com/in/michael-cashion-a891082b6/" target="_blank">LinkedIn</a> |
    <a id="validation_link_html" href="#" target="_blank">HTML Validation</a> |
    <a id="validation_link_css" href="#" target="_blank">CSS Validation</a>
  </nav>
  <p><a href="mascot/">Mighty Chicken</a></p><p><a href="mascot/">Mighty Chicken</a></p>
  <p>Designed by <a href="cashioninc/index.html">Cashion Incorporated @ 2025</a></p>
</footer>
