<h1>Michael Cashion – ITIS 3135</h1>
<nav class="primary-nav">
  <a href="index.html">Home</a> |
  <a href="introduction.html">Introduction</a> |
  <a href="contract.html">Course Contract</a> |
  <a href="intro_form.html">Introduction Form</a> |
  <a href="website_evaluations.html">Website Evaluations</a> |
  <a href="fcc_outline.html">FreeCodeCamp Outline</a> |
</nav>
<nav class="secondary-nav">
  <a href="cashioninc/">Design Website</a> |
  <a href="mightychicken/" target="_blank">Mascot</a> |
  <a href="stuff/index.html">Crappy Webpage</a> |
  <a href="hobby/index.html">Hobby</a> |
  <a href="https://itis3135-react-ten.vercel.app/" target="_blank">React3</a> |
  <a href="dragonfly_homes.html">Client Project</a>
</nav>
