<header>
<h1><a href="index.html">Michael Cashions' Mighty Chicken ITIS 3135</a></h1>
<nav class="primary-nav" aria-label="Main navigation">
  <ul>
    <a href="index.html">Home</a>
    <a href="contract.html">Contract</a>
    <a href="introduction.html">Introduction</a>
    <a href="intro_form.html">Introduction Form</a>
    <a href="website_evaluations.html">Website Evaluations</a>
    <a href="fcc_outline.html">FreeCodeCamp Outline</a>
    <a href="p_overview.html">Project Overview</a>
  
  </ul>
</nav>
<nav class="secondary-nav" aria-label="Additional links">
  <ul>
    <a href="mightychicken/">Mascot</a>
    <a href="cashioninc.com/" target="_blank" rel="noopener">Design Website</a>
    <a href="dragonfly_homes.html">Client Project</a>
    <a href="https://itis3135-react-ten.vercel.app/" target="_blank">React3</a>
    <a href="stuff/index.html">Crappy Webpage</a>
    <a href="hobby/index.html">Hobby</a>
  </ul>
</nav>
</header>
