<h1><a href="index.html">My Website</a></h1>
<nav class="primary-nav" aria-label="Main navigation">
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="contract.html">Contract</a></li>
    <li> <a href="introduction.html">Introduction</a></li>
    <li><a href="intro_form.html">Introduction Form</a></li>
    <li><a href="website_evaluations.html">Website Evaluations</a></li>
    <li><a href="fcc_outline.html">FreeCodeCamp Outline</a></li>
    <li><a href="project_overview.html">Project Overview</a></li>
  
  </ul>
</nav>
<nav class="secondary-nav" aria-label="Additional links">
  <ul>
    <li><a href="mightychicken/">Mascot</a></li>
    <li><a href="cashioninc/" target="_blank" rel="noopener">Design Website</a></li>
    <li><a href="dragonfly_homes.html">Client Project</a></li>
    <li><a href="https://itis3135-react-ten.vercel.app/" target="_blank">React3</a></li>
    <li><a href="stuff/index.html">Crappy Webpage</a></li>
    <li><a href="hobby/index.html">Hobby</a></li>
  </ul>
</nav>
